/Debug_IAR/
/Release_IAR/
/settings/
/Backup (2) of NET869_MCU.ewd
/Backup (2) of NET869_MCU.ewp
/Backup (2) of NET869_MCU.ewt
/Backup of NET869_MCU.ewd
/Backup of NET869_MCU.ewp
/Backup of NET869_MCU.ewt
